.tooltip {
	display: inline-block;
	position: relative;
}
.tooltip__trigger {
	width: 22px;
	height: 22px;
}
.tooltip__bubble {
	background: var(--blue);
	box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
	border-radius: 10px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: var(--grey-2);
	padding: 13px 21px 8px 21px;
	position: absolute;
	white-space: nowrap;
	bottom: calc(100% + 9px);
	left: 50%;
	transform: translateX(-50%);
	display: none;
}
.tooltip__bubble:after {
	content: '';
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-top: 6px solid var(--blue);
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
}
.tooltip__trigger:hover {
	cursor: pointer;
}
.tooltip__trigger:hover ~ .tooltip__bubble {
	display: block;
}